html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 12px;
  }
}

body {
 margin: 0;
}

header {
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 64px;
  z-index: 1;
  display: block;
  justify-content: center;
}

header img {
  height: 32px;
  align-items: center;
}

nav {
  text-align: right;
  flex-grow: 1;
  float: right;
}

nav span {
  display: inline-block;
  padding: 0 8px;
  text-decoration-color: black;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Francois One', sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 1.65rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p {
  font-weight: 200;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.45em
}

img {
  display: block;
  max-width: 100%;
}

/* Manu and Navigation */

.flexheader {
  height: 64px;
  display: flex;
}

/* Logo */

.colmar, .academy {
  font-family: 'Cabin', sans-serif;
  font-size: 1.35rem;
}

.colmar {
  font-weight: 700;
}

.academy {
  color: lightgrey;
}

.primary-banner {
  background-color: lightgrey;
  display: flex;
  flex-grow: 1
}



.column {
  display: flex;
  flex-direction: column;
}

.column.text {
  position: relative;
  text-align: left;
  width: 40%;
  height: auto;
  align-content: center;
  justify-content: center;
  padding-left: 24px;
}

.column.text h2 {
  padding: 32px 0;
}

/*Sign up button in first content block*/

.button {
  background-color: #4a4a4a;
  color: white;
  padding: 16px 0;
  text-align: center;
  font-size: 1.5em;
}

.column.text span:hover {
  background-color: black;
}

.content-block{
  max-width: 70%;
  height: auto;
}

.second-block {
  display: flex;
}

 /* Column on Left hand side */

.column.large {
  width: 60%;
  padding: 32px 24px;
  border-right: 1px solid lightgrey;
}

.column.large h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.column.large p {
  padding-bottom: 48px;
  line-height: 1.5em;
}


/* Image containers */

.image-content {
  width: 100%;
  height: auto;
}

.image-block {
  width: 35%;
  height: auto;
  padding: 16px;
}

/* Right hand side style */

.column.second {
  display: flex;
  margin-top: 16px;
  width: 40%;
  padding-right: 24px;
}

.block {
 display: flex;
 align-items: center;
}

.block:hover {
 display: flex;
 align-items: center;
 background-color: lightgrey;
}

.block-content {
  text-align: left;
  display: inline-block;
  justify-content: center;
  width: 65%;
}

.block-content p {
  padding: 8px 0;
  line-height: 1.35em;
}

.block-content span {
  color: #0074BD;
}

.third-block {
  background-color: lightgrey;
  padding: 32px 72px;
}

.header-text {
  text-align: center;
  padding-bottom: 32px;
}

/* EAch of the rows in the third content block */

.row {
  display: flex;
}

/* Feature divs are in the third content block */

.feature {
  width: 33%;
  background-color: white;
}

.feature img {
  height: auto;
  width: 100%;
}

.feature-content {
  padding: 1rem 1rem;
}

.feature-content h2 {
  padding-bottom:
}

.forth-block .primary-banner {
  background-color: white;
}

.forth-block{
  padding: 32px 24px;
}

footer {
  padding: 1.5rem 2rem;
  border-top: 1px solid lightgrey;
}

footer .content {
  display: flex;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}

footer .location {
  padding: 0 8px;
}


#forth-block, #second-forth  {
  border-right: none;
}

#forth-block p {
  padding-bottom: 0;
}

#center-feature{
  margin-left: 32px;
  margin-right: 32px;
}

#top-row {
  margin-bottom: 32px;
}

#sub-heading {
  padding: 8px 0;
}

#our-campus {
  border: 1px solid;
}

@media only screen and (min-width: 780px) {
  #mobile {
    display: none;
  }
}

@media only screen and (max-width: 780px) {
  .column.large {
    width: 100%;
    border-right: 1px solid lightgrey;
    padding: 0;
  }

  .primary-banner {
    display: block;
  }
  .column {
    display: block;
  }
  .column.text {
    width: 100%;
  }

  .mobile-block {
      width: 40%;
      height: auto;
  }

  .mobile-block h1 {
    text-align: center;
  }

  .mobile-block h2 {
    display: none;
  }

  .column.second {
    width: 100%;
    padding: 0;
  }

  .third-block img {
    display: none;
  }

  #sign-up-cta {
  position: relative;
  top: 30%;
  left: 3%;
  padding: 0 2.5rem 1.25rem 2.5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: Gainsboro;
  opacity: 0.9;
  }

  #mobile {
    background-image: url(../images/banner.jpg);
    height: 43.5rem;
  }

  #disable-mobile {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  .mobile-style {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  /* Style the buttons that are used to open and close the accordion panel */
  button.accordion {
    font-size: 1.65rem;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  button.accordion.active, button.accordion:hover {
    background-color: #ccc;
  }

/* Style the accordion panel. Note: hidden by default */
  div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    padding: 1rem;
  }


  button.accordion:after {
      content: '\02795'; /* Unicode character for "plus" sign (+) */
      font-size: 13px;
      color: #777;
      float: right;
      margin-left: 5px;
  }

  button.accordion.active:after {
      content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .row {
    display: none;
  }

  .third-block {
    padding: 2.66rem 1.33rem;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  .header-text {
    padding-bottom: 16px;
}

}
