html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #4a4a4a;
}

body {
 margin: 0;
}

header {
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 64px;
  z-index: 1;
  display: block;
  justify-content: center;
}

header img {
  height: 32px;
  align-items: center;
}

nav {
  text-align: right;
  flex-grow: 1;
  float: right;
}

nav span {
  display: inline-block;
  padding: 0 8px;
  text-decoration-color: black;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Francois One', sans-serif;
}

h2 {
  font-size: 1.65rem;
  font-family: Old Standard TT', serif;
}

/* Manu and Navigation */

.flexheader {
  height: 64px;
  display: flex;
}

/* Logo */

.colmar, .academy {
  font-family: 'Cabin', sans-serif;
  font-size: 1.35rem;
}

.colmar {
  font-weight: 700;
}

.academy {
  color: lightgrey;
}



.primary-banner {
  background-color: lightgrey;
  display: flex;
  flex-grow: 1
}

.column {
  display: flex;
  flex-direction: column;
}

.column.text {
  position: relative;
  text-align: left;
  width: 40%;
  height: auto;
  align-content: center;
  justify-content: center;
  padding-left: 24px;
}

.column.text h1 {
  font-weight: 700;
}

.column.text h2 {
  padding: 32px 0;
  font-weight: normal;
}

/*Sign up button in first content block*/

.button {
  background-color: #4a4a4a;
  color: white;
  padding: 16px 0;
  text-align: center;
  font-size: 1.5em;
}

.column.text span:hover {
  background-color: black;
}

.content-block{
  max-width: 70%;
  height: auto;
}

.second-block {
  display: flex;
}

 /* Column on Left hand side */

.column.large {
  width: 60%;
  padding: 32px 24px;
  border-right: 1px solid lightgrey;
}

.column.large h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.column.large p {
  padding-bottom: 48px;
  line-height: 1.5em;
}

/* Image containers */

.image-content {
  width: 100%;
  height: auto;
}

.image-content img {
  max-width: 100%;
  display: block;
}

.image-block {
  width: 35%;
  height: auto;
  padding: 16px;
}

.image-block img {
  max-width: 100%;
  display: block;

}

/* Right hand side style */

.column.second {
  display: flex;
  margin-top: 16px;
  width: 40%;
  padding-right: 24px;
}

.block {
 display: flex;
 align-items: center;
}

.block:hover {
 display: flex;
 align-items: center;
 background-color: lightgrey;
}

.block-content {
  text-align: left;
  display: inline-block;
  justify-content: center;
  width: 65%;
}

.block-content p {
  padding: 8px 0;
  line-height: 1.35em;
}

.block-content span {
  color: #0074BD;
}

.third-block {
  background-color: lightgrey;
  padding: 32px 72px;
}

.header-text {
  text-align: center;
  padding-bottom: 32px;
}

/* EAch of the rows in the third content block */

.row {
  display: flex;
}

/* Feature divs are in the third content block */

.feature {
  width: 33%;
  background-color: white;
}

.feature img {
  height: auto;
  width: 100%;
}

.feature-content {
  padding: 1rem 1rem;
}

.feature-content h2 {
  padding-bottom:
}

.forth-block .primary-banner {
  background-color: white;
}

.forth-block{
  padding: 32px 24px;
}

footer {
  padding: 1.5rem 2rem;
  border-top: 1px solid lightgrey;
}

footer .content {
  display: flex;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}

footer .location {
  padding: 0 8px;
}


#forth-block, #second-forth  {
  border-right: none;
}

#forth-block p {
  padding-bottom: 0;
}

#center-feature{
  margin-left: 32px;
  margin-right: 32px;
}

#top-row {
  margin-bottom: 32px;
}

#sub-heading {
  padding: 8px 0;
}

#our-campus {
  border: 1px solid;
}
